<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Formulario para Niños</title>
  
 
</head>
<body>
  <div class="container">
    <h2>Formulario para Niños</h2>
    <p>Agregar información de los niños:</p>
  
    <div class="form-field">
      <label>Nombres:</label>
      <input class="custom-input" type="text">
    </div>
    
    <div class="form-field">
      <label>Apellidos:</label>
      <input class="custom-input" type="text">
    </div>
    
    <div class="form-field">
      <label>Edad:</label>
      <input class="custom-input" type="text">
    </div>
    
    <div class="form-field">
      <label>Género:</label>
      <input class="custom-input" type="text">
    </div>
    
    <div class="form-submit">
      <button type="submit">Guardar</button>
    </div>
    
    <div class="back-button-container">
      <a class="back-button" href="javascript:history.back()">Volver</a>
    </div>
  </div>
</body>
</html>
